@import "../../scss/varibales.scss";

.form-control {
    height   : 44px !important;
    font-size: 14px !important;
}

.btn {
    line-height: normal !important;
}

.bg-light-blue {
    background: #2D6AC7 !important;
}

ul {
    padding   : 0;
    list-style: none;
}